/* 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; 
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}